    body {
      margin: 0;
      font-family: Arial, sans-serif;
    }

    header {
      width: 100%;
    }

    /* Thanh điều hướng trên cùng */
    .navbar {
      background-color: #000066;
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 30px;
    }

    .logo {
      display: inline-flex;
      align-items: center;
    }

    .logo img {
      width: 50px;
      height: 50px;
      margin-right: 10px;
    }

    .logo span {
      font-weight: bold;
    }

    nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    nav ul li {
      display: inline-table;
      margin: 0 15px;
    }

    nav ul li a {
      color: white;
      text-decoration: none;
    }

    nav ul li a.active {
      color: orange;
    }

    .apply a {
      background-color: orange;
      color: #000;
      padding: 8px 15px;
      text-decoration: none;
      font-weight: bold;
    }

    /* Cấu hình bố cục banner */
	.banner {
	display: flex;
	width: 100%;
	height: 350px; /* Điều chỉnh chiều cao của banner */
	overflow: hidden;
	}

	/* Các phần của banner */
	.banner-left, .banner-middle, .banner-right {
	flex: 1;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	}

	/* Hiển thị ảnh cho banner */
    .banner {
      position: relative;
      width: 100%;
      height: 350px;
      overflow: hidden;
    }

    .banner img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .banner-text {
      position: absolute;
      top: 30%;
      left: 50%;
      margin-left: -150px;
	  margin-top: -50px; 
      color: white;
      text-align: center;
    }

    .banner-text h1 {
      font-size: 30px;
      margin-bottom: 5px;
    }

    .banner-text p {
      font-size: 18px;
      margin-bottom: 10px;
    }

    .banner-text button {
      background-color: white;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      font-weight: bold;
    }

	.bottom-boxes {
	display: flex;
	justify-content: center; 
	align-items: center; 
	background: rgba(0, 0, 40, 0.7);
	position: absolute;
	top: 29%; 
	left: 50%; 
	margin-left: -30%; 
	width: 60%; 
	color: white;
	text-align: center;
	padding: 2px 0; 
	height: 11%; 
	}

    .bottom-boxes .box {
	padding: 10px 20px;
	border-right: 1px solid rgba(255, 255, 255, 0.2);
	text-align: left; 
	}

	.bottom-boxes .box:last-child {
	border-right: none;
	}

	.bottom-boxes .box p {
	text-align: left;
	margin: 0;
	}
	
	.bottom-boxes .box h3 {
	display: flex;
	align-items: center;
	gap: 7px; /* khoảng cách icon và text */
	font-weight: bold;
	color: white;
	}

	.bottom-boxes .box h3 .icon {
	width: 40px;   
	height: 30px;   
	object-fit: contain;
	}